---
---

$header-bg-color: #c45e62;
$header-bg-color-secondary: #28526d;
$section-headings-color: #33536c;

@import "{{ site.theme }}";

header {
  display: none;
}

footer {
  display: none !important;
}

body {
  background-color: #f7f7f5;
}

